@import "./_mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
    margin: 0;
    @include font-face("ProximaNovaSoft-Regular");
}

* {
    box-sizing: border-box
}
/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
    .image2 {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    .mySlides {
        display: none;
    }
    .slider-text {
        text-align: center;
        position: absolute;
        top: 60%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: wheat;
        h1 {
            font-family: 'Pacifico', cursive;
            color: #FFF;
            font-weight: 400;
            font-size: 80px;
            margin-bottom: 0;
        }
        h4 {
            letter-spacing: 10px;
            color: #FFF;
            margin-top: 0;
            font-size: 26px;
        }
        button {
            color: #FFF;
            background: #eb3d06;
            outline: none;
            font-size: 24px;
            padding: 5px 20px;
            border: 1px solid #eb3d06;
        }
        .dots {
            margin-top: 70px;
            .dot1 {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #ea3d06;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
                .active,
                &:hover {
                    background-color: #717171;
                }
            }
            .dot2 {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #FFF;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
                .active,
                &:hover {
                    background-color: #717171;
                }
            }
        }
    }
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    header {
        position: absolute;
        top: 20px;
        color: #FFF;
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 100%;
        background: #01020991;
        @include font-face("ProximaNovaSoft-Regular");
        span.white-hea {
            font-weight: bolder;
            font-size: 20px;
        }
        .nav-menu {
            display: block;
            ul {
                display: flex;
                list-style-type: none;
                li.col-hom {
                    color: #ec3d06;
                }
                li {
                    margin: 0 10px;
                }
                .codes {
                    display: flex;
                    align-items: end;
                    i.fa.fa-caret-down {
                        font-size: 12px;
                        margin-left: 2px;
                    }
                }
            }
        }
        .fa-align-justify {
            visibility: hidden;
        }
    }
}

.container2 {
    width: 100%;
    .cont-bdy {
        display: flex;
        padding: 60px 0;
        width: 80%;
        margin: 0 auto;
        i {
            font-size: 25px;
            color: #ea3d06;
            margin-right: 30px
        }
        .settings,
        .like,
        .profile {
            display: flex;
            align-content: baseline;
            margin-right: 30px;
            .setngs-cont {
                width: 100%;
                h1 {
                    font-size: 14px;
                    margin-top: 0;
                }
                p {
                    color: #717171;
                }
            }
        }
    }
}

.container3 {
    background: #e93d06;
    .cont3-body {
        display: flex;
        align-items: center;
        padding: 60px 80px;
        img {
            height: 360px;
        }
        .some-abt-us {
            width: 50%;
            text-align: left;
            background: #FFF;
            position: absolute;
            left: 480px;
            border-left: 2px solid #80808038;
            border-top: 2px solid #80808038;
            .pad-txt {
                padding: 30px;
                h1 {
                    font-family: 'Pacifico', cursive;
                    margin-top: 0;
                    font-size: 30px;
                    letter-spacing: 2px;
                    span.about-us {
                        color: #e93d06;
                    }
                }
                p {
                    color: #717171;
                }
            }
            .div-colo {
                display: flex;
                .col1,
                .col2,
                .col3,
                .col4 {
                    width: 35%;
                    height: 3px;
                }
                .col1 {
                    background: #9C27B0;
                }
                .col2 {
                    background: #39c93f;
                }
                .col3 {
                    background: #1ad6ee;
                }
                .col4 {
                    background: #FFC107;
                }
            }
        }
    }
}

.bst {
    font-family: 'Pacifico', cursive;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    span.b-services {
        color: #e93d06;
    }
}

.container4 {
    padding: 80px;
    padding-bottom: 0;
    .cont4-holdr {
        display: flex;
        border-bottom: 1px solid #808080a3;
        justify-content: space-between;
        font-size: 16px;
        width: 100%;
        .contHoldr-three {
            .settings3d {
                text-align: center;
                padding: 20px;
                i {
                    font-size: 30px;
                    color: #e93d06;
                }
            }
        }
        .contHoldr-one,
        .contHoldr-two,
        .contHoldr-three {
            padding: 20px;
        }
        .contHoldr-one,
        .contHoldr-two {
            border-right: 1px solid #808080a3;
            .settings3d {
                text-align: center;
                padding: 20px;
                i {
                    font-size: 50px;
                    color: #e93d06;
                }
            }
        }
    }
}

.container5 {
    padding: 80px;
    padding-top: 0;
    padding-bottom: 0;
    .cont4-holdr {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        width: 100%;
        .contHoldr-three {
            .settings3d {
                text-align: center;
                padding: 20px;
                i {
                    font-size: 50px;
                    color: #e93d06;
                }
            }
        }
        .contHoldr-one,
        .contHoldr-two,
        .contHoldr-three {
            padding: 20px;
        }
        .contHoldr-one,
        .contHoldr-two {
            border-right: 1px solid #808080a3;
            .settings3d {
                text-align: center;
                padding: 20px;
                i {
                    font-size: 30px;
                    color: #e93d06;
                }
            }
        }
    }
}

.container6 {
    background: #15160017;
    h1 {
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 30px;
        letter-spacing: 2px;
        padding-top: 30px;
        span.b-posts {
            color: #e93d06;
        }
    }
    .contHoldr6 {
        display: flex;
        padding: 30px 80px;
        justify-content: center;
        .post1,
        .post2,
        .post3 {
            width: 30%;
            margin-right: 30px;
            .imagetext-holdr {
                display: flex;
    width: fit-content;
    margin: 0 auto;
                img {
                    max-height: 230px;
                    max-width: 100%;
                }
                .date1,
                .date2,
                .date3 {
                    text-align: center;
                    background: #e83d07;
                    color: #FFF;
                    position: absolute;
                    width: 4%;
                    line-height: 1;
                }
            }
            .txt {
                width: 65%;
                margin: 0 auto;
                p {
                    text-align: left;
                }
            }
        }
    }
}

footer {
    background: #434343f2;
    color: #FFF;
    padding: 1px;
    .contacts {
        display: flex;
        justify-content: space-between;
        padding: 0 80px;
        .phone-cont,
        .email-cont {
            display: flex;
            align-items: baseline;
            span.email {
                color: #e63c07;
            }
        }
    }
    .footr-sect2 {
        display: flex;
        justify-content: space-between;
        padding: 30px 80px;
        border: 1px solid #80808038;
        h1 {
            font-size: 14px;
        }
        .abt-us {
            display: flex;
            align-items: center;
            max-width: 40%;
            margin-right: 20px;
            .abtus-cont {
                margin-right: 10px;
                img {
                    height: 200px;
                }
            }
            p {
                text-align: left;
            }
        }
        .newsletter {
            max-width: 30%;
            margin-right: 20px;
            p {
                text-align: left;
            }
            form {
                input {
                    padding: 15px;
                    font-size: 18px;
                    outline: none;
                    background: #FFF;
                    width: 100%;
                }
                button {
                    min-width: 25%;
                    border: 0;
                    background: #e73d07;
                    color: #FFF;
                    padding: 12px;
                    font-size: 18px;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }
        }
        .we-social {
            max-width: 30%;
            i {
                font-size: 20px;
                color: #FFF;
            }
        }
    }
    p {
        text-align: center;
    }
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgb(92, 92, 92);
}

// for mobile devices
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .slideshow-container {
        .slider-text {
            top: 62%;
            width: 100%;
            h1 {
                font-size: 80px;
            }
            h4 {
                font-size: 32px;
            }
            button {
                font-size: 40px;
            }
            .dots {
                display: none;
            }
        }
        header {
            flex-direction: column;
            padding: 10px;
            .e-venue {
                font-size: 40px;
            }
            span.white-hea {
                font-size: 50px;
            }
            .nav-menu {
                display: none;
                font-size: 35px;
                ul {
                    li.col-hom {
                        color: #ec3d06;
                    }
                    li {
                        margin: 0 20px;
                    }
                }
            }
            .fa-align-justify {
                visibility: visible;
                font-size: 60px;
                border: 3px solid #FFF;
                padding: 10px;
                margin: 10px;
                border-radius: 10px;
                width: 100px;
                text-align: center;
            }
        }
    }
    .container2 {
        width: 100%;
        .cont-bdy {
            flex-direction: column;
            width: 90%;
            font-size: 18px;
            .settings,
            .like,
            .profile {
                .setngs-cont {
                    h1 {
                        font-size: 30px;
                        margin-top: 0;
                    }
                    p {
                        color: #837f7f;
                    }
                }
            }
            i {
                margin-right: 50px;
            }
        }
    }
    .bst {
        margin-top: 30px;
        font-size: 45px;
    }
    .container4 {
        padding: 0;
        .cont4-holdr {
            flex-direction: column;
            border: none;
            .contHoldr-three {
                padding: 0;
                .settings3d {
                    text-align: center;
                    font-size: 30px;
                    i {
                        font-size: 50px;
                    }
                }
            }
            .contHoldr-one,
            .contHoldr-two {
                border: none;
                padding: 0;
                .settings3d {
                    font-size: 30px;
                }
            }
            
        }
    }
    .container5 {
        .cont4-holdr {
            font-size: 30px;
            flex-direction: column;
            padding: 0;
            .contHoldr-one,
            .contHoldr-two {
                border: none;
                padding: 0;
            }
        }
    }
    .container6 {
        background: #15160017;
        h1 {
            font-size: 50px;
        }
        .contHoldr6 {
            flex-direction: column;
            padding: 0;
            .post1,
            .post2,
            .post3 {
                width: 100%;
                padding: 0 60px;
                .txt {
                    width: 100%;
                    font-size: 14px;
                    text-align: center;
                }
                .imagetext-holdr {
                    width: 100%;
                    img {
                        max-height: 100%;
                        width: 100%;
                    }
                    .date1,
                    .date2,
                    .date3 {
                        width: 10%;
                        line-height: 1;
                        font-size: 28px;
                    }
                }
            }
        }
    }
    footer {
        .contacts {
            padding: 0 60px;
            font-size: 30px;
        }
        .footr-sect2 {
            flex-direction: column;
            padding: 0 60px;
            h1 {
                font-size: 30px;
                text-align: center;
            }
            .abt-us {
                flex-direction: column;
                max-width: 100%;
                margin-right: 0;
                align-items: normal;
                .abtus-cont {
                    margin: 0;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                p {
                    text-align: center;
                    font-size: 28px;
                }
            }
            .newsletter {
                max-width: 100%;
                margin-right: 0;
                p {
                    text-align: center;
                    font-size: 28px;
                }
                form {
                    input {
                        padding: 24px;
                        font-size: 30px;
                    }
                    button {
                        padding: 15px;
                        font-size: 30px;
                    }
                }
            }
            .we-social {
                max-width: 100%;
                i {
                    font-size: 28px;
                    color: #FFF;
                }
                .so-medias {
                    text-align: center;
                }
            }
        }
    }
}