@import "./_mixins.scss";
@import "./variables.scss";
body {
  margin: 0;
  width: 100%;
  background: #9d9d9d;
}

.container {
  width: 320px;
  margin: 0 auto;
  height: 721px;
  &:hover {
    .menu-info-container {
      display: block;
    }
    .overlay {
      visibility: visible;
    }
  } // dashboard info
  #dashboard-info {
    height: 721px;
    .header {
      width: 100%;
      height: 56px;
      background-color: #77439E;
      z-index: 0;
      .menu-icon {
        width: 56px;
        height: 56px;
        img {
          width: 30px;
          height: 30px;
          float: left;
          padding: 12px 15px 0;
        }
      }
      .dashboard {
        // position: relative;
        // bottom: 40px;
        h1 {
          font-size: 20px;
          line-height: 100%;
          text-align: center;
          padding: 18px 60px;
          color: $colorwhite;
          @include font-face("ProximaNovaSoft-Regular");
        }
      }
    }
  }
  .balance {
    background-color: #ba6ff5;
    height: 323px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    .balance-texts {
      .balText {
        @include font-face("ProximaNovaSoft-Regular");
        font-size: 18px;
        color: $colorwhite;
        line-height: 100%;
      }
      .balanceAmount {
        @include font-face("ProximaNovaSoft-Semibold");
        font-size: 32px;
        color: $colorwhite;
        line-height: 100%;
      }
      .sp {
        @include font-face("ProximaNovaSoft-Semibold");
        font-size: 24px;
        color: $colorwhite;
        line-height: 100%;
      }
    }
  }
  .transition-icon {
    text-align: center;
    .dot {
      @include bullet;
      opacity: 1;
    }
    .dot2 {
      @include bullet;
      opacity: 0.5;
    }
  }
  .latest-transaction {
    width: 100%;
    height: 42px;
    background-color: #77439E;
    margin-top: -16px;
    h1 {
      @include font-face("ProximaNovaSoft-Medium");
      font-size: 14px;
      color: $colorwhite;
      padding: 15px;
    }
  }
  .details1,
  .details2,
  .details3,
  .details4 {
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 3px 0;
  }
  .details2,
  .details4 {
    background-color: #F1F1F1;
  }
  .amount-location {
    background-color: #FFFFFF;
    height: 304px;
    h1 {
      @include location;
      @include font-face("ProximaNovaSoft-Semibold");
    }
    p {
      @include date;
      @include font-face("ProximaNovaSoft-Medium");
    }
    .location {
      padding: 0 15px;
    }
    .amount {
      text-align: end;
      padding: 0 15px;
      .green-col {
        color: #16967A;
      }
      .red-col {
        color: #E44235;
      }
    }
  }
  .overlay {
    z-index: 1;
    background-color: #000000;
    opacity: 0.5;
    visibility: hidden;
    position: relative;
    height: 718px;
    width: 320px;
    bottom: 100%;
  } // menu-info container
  .menu-info-container {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0%;
    .menu-header {
      height: 153px;
      .image-header {
        height: 153px;
        background-image: url(../Assets/Images/SideMenu/menu-header-bg.png);
        img {
          width: 294px;
        }
        .profile-details {
          display: flex;
          align-items: center;
          position: relative;
          top: 75px;
          margin: 0 20px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
          span {
            @include font-face("ProximaNovaSoft-Regular");
            font-size: 18px;
            color: #FFFFFF;
            line-height: 100%;
            margin-left: 10px;
          }
        }
      }
    }
    .side-menu {
      height: 568px;
      width: 294px;
      position: relative;
      background-color: #FFFFFF;
      bottom: 3px;
      .dashboard-side-menu,
      .account,
      .card,
      .payment,
      .transfer,
      .airtime,
      .setting {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        height: 55px;
        h1 {
          @include font-face("ProximaNovaSoft-Regular");
          font-size: 16px;
          color: #8D52DA;
          line-height: 100%;
          margin-left: 20px;
        }
        img {
          width: 30px;
          height: 30px;
        }
      }
      .card {
        background-color: #F7F0FC;
        opacity: 100%;
      }
    }
  }
}

// mobile and Tablets responsiveness
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    margin: 0;
    width: 100%;
    background: #9d9d9d;
  }
  .container {
    #dashboard-info {
      width: 100%;
      position: fixed;
      .header {
        width: 100%;
        height: 100px;
        .dashboard {
          bottom: 95px;
        }
        .menu-icon {
          width: 60px;
          height: 60px;
          padding: 30px 20px 0;
        }
        h1 {
          font-size: 40px;
        }
      }
    }
    .balance {
      .balance-texts {
        .balText {
          @include font-face("ProximaNovaSoft-Regular");
          font-size: 36px;
        }
        .balanceAmount {
          @include font-face("ProximaNovaSoft-Semibold");
          font-size: 40px;
        }
        .sp {
          @include font-face("ProximaNovaSoft-Semibold");
          font-size: 30px;
        }
      }
    }
    .transition-icon {
      text-align: center;
      .dot {
        @include bulletMobile;
      }
      .dot2 {
        @include bulletMobile;
      }
    }
    .latest-transaction {
      height: 84px;
      position: relative;
      bottom: 3px;
      h1 {
        @include font-face("ProximaNovaSoft-Medium");
        font-size: 28px;
        padding: 30px;
      }
    }
    .details1,
    .details2,
    .details3,
    .details4 {
      height: 125px;
      padding: 3px 0;
    }
    .details2,
    .details4 {
      background-color: #F1F1F1;
    }
    .amount-location {
      background-color: #FFFFFF;
      height: 488px;
      h1 {
        font-size: 32px
      }
      p {
        font-size: 28px;
      }
      .location {
        padding: 0 30px;
      }
      .amount {
        padding: 0 30px;
      }
    }
    width: 100%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    &:hover {
      position: fixed;
      transform: translate(882px, 0);
      -webkit-transform: translate(882px, 0);
      -o-transform: translate(882px, 0);
      -moz-transform: translate(882px, 0);
    }
    .overlay {
      height: 1034px;
      width: 100%;
      position: static;
    } // menu info div
    .menu-info-container {
      width: 100%;
      position: absolute;
      left: -882px;
      top: 0;
      .menu-header {
        height: 337px;
        .image-header {
          background-image: url("../Assets/Images/SideMenu/menu-header-bg@3x.png");
          background-repeat: no-repeat;
          height: 335px;
          img {
            width: 294px;
          }
          .profile-details {
            height: 250px;
            top: 70px;
            margin: 0 40px;
            img {
              width: 150px;
              height: 150px;
            }
            span {
              @include font-face("ProximaNovaSoft-Regular");
              font-size: 40px;
              margin-left: 30px;
            }
          }
        }
      }
      .side-menu {
        height: fit-content;
        width: 90%;
        .dashboard-side-menu,
        .account,
        .card,
        .payment,
        .transfer,
        .airtime,
        .setting {
          padding: 10px 40px;
          height: 80px;
          h1 {
            @include font-face("ProximaNovaSoft-Regular");
            font-size: 26px;
            margin-left: 30px;
          }
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}