body {
  margin: 0;
  width: 100%;
  background: #9d9d9d; }

.container {
  width: 320px;
  margin: 0 auto;
  height: 721px; }
  .container:hover .menu-info-container {
    display: block; }
  .container:hover .overlay {
    visibility: visible; }
  .container #dashboard-info {
    height: 721px; }
    .container #dashboard-info .header {
      width: 100%;
      height: 56px;
      background-color: #77439E;
      z-index: 0; }
      .container #dashboard-info .header .menu-icon {
        width: 56px;
        height: 56px; }
        .container #dashboard-info .header .menu-icon img {
          width: 30px;
          height: 30px;
          float: left;
          padding: 12px 15px 0; }
      .container #dashboard-info .header .dashboard h1 {
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        padding: 18px 60px;
        color: #FFFFFF;
        font-family: "ProximaNovaSoft-Regular"; }
  .container .balance {
    background-color: #ba6ff5;
    height: 323px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center; }
    .container .balance .balance-texts .balText {
      font-family: "ProximaNovaSoft-Regular";
      font-size: 18px;
      color: #FFFFFF;
      line-height: 100%; }
    .container .balance .balance-texts .balanceAmount {
      font-family: "ProximaNovaSoft-Semibold";
      font-size: 32px;
      color: #FFFFFF;
      line-height: 100%; }
    .container .balance .balance-texts .sp {
      font-family: "ProximaNovaSoft-Semibold";
      font-size: 24px;
      color: #FFFFFF;
      line-height: 100%; }
  .container .transition-icon {
    text-align: center; }
    .container .transition-icon .dot {
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color: #FFFFFF;
      border-radius: 50%;
      display: inline-block;
      opacity: 1; }
    .container .transition-icon .dot2 {
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color: #FFFFFF;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5; }
  .container .latest-transaction {
    width: 100%;
    height: 42px;
    background-color: #77439E;
    margin-top: -16px; }
    .container .latest-transaction h1 {
      font-family: "ProximaNovaSoft-Medium";
      font-size: 14px;
      color: #FFFFFF;
      padding: 15px; }
  .container .details1,
  .container .details2,
  .container .details3,
  .container .details4 {
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 3px 0; }
  .container .details2,
  .container .details4 {
    background-color: #F1F1F1; }
  .container .amount-location {
    background-color: #FFFFFF;
    height: 304px; }
    .container .amount-location h1 {
      font-size: 16px;
      color: #959595;
      line-height: 100%;
      font-family: "ProximaNovaSoft-Semibold"; }
    .container .amount-location p {
      font-size: 14px;
      color: #959595;
      font-weight: 116;
      opacity: 0.6;
      font-family: "ProximaNovaSoft-Medium"; }
    .container .amount-location .location {
      padding: 0 15px; }
    .container .amount-location .amount {
      text-align: end;
      padding: 0 15px; }
      .container .amount-location .amount .green-col {
        color: #16967A; }
      .container .amount-location .amount .red-col {
        color: #E44235; }
  .container .overlay {
    z-index: 1;
    background-color: #000000;
    opacity: 0.5;
    visibility: hidden;
    position: relative;
    height: 718px;
    width: 320px;
    bottom: 100%; }
  .container .menu-info-container {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0%; }
    .container .menu-info-container .menu-header {
      height: 153px; }
      .container .menu-info-container .menu-header .image-header {
        height: 153px;
        background-image: url(../Assets/Images/SideMenu/menu-header-bg.png); }
        .container .menu-info-container .menu-header .image-header img {
          width: 294px; }
        .container .menu-info-container .menu-header .image-header .profile-details {
          display: flex;
          align-items: center;
          position: relative;
          top: 75px;
          margin: 0 20px; }
          .container .menu-info-container .menu-header .image-header .profile-details img {
            width: 50px;
            height: 50px;
            border-radius: 50%; }
          .container .menu-info-container .menu-header .image-header .profile-details span {
            font-family: "ProximaNovaSoft-Regular";
            font-size: 18px;
            color: #FFFFFF;
            line-height: 100%;
            margin-left: 10px; }
    .container .menu-info-container .side-menu {
      height: 568px;
      width: 294px;
      position: relative;
      background-color: #FFFFFF;
      bottom: 3px; }
      .container .menu-info-container .side-menu .dashboard-side-menu,
      .container .menu-info-container .side-menu .account,
      .container .menu-info-container .side-menu .card,
      .container .menu-info-container .side-menu .payment,
      .container .menu-info-container .side-menu .transfer,
      .container .menu-info-container .side-menu .airtime,
      .container .menu-info-container .side-menu .setting {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        height: 55px; }
        .container .menu-info-container .side-menu .dashboard-side-menu h1,
        .container .menu-info-container .side-menu .account h1,
        .container .menu-info-container .side-menu .card h1,
        .container .menu-info-container .side-menu .payment h1,
        .container .menu-info-container .side-menu .transfer h1,
        .container .menu-info-container .side-menu .airtime h1,
        .container .menu-info-container .side-menu .setting h1 {
          font-family: "ProximaNovaSoft-Regular";
          font-size: 16px;
          color: #8D52DA;
          line-height: 100%;
          margin-left: 20px; }
        .container .menu-info-container .side-menu .dashboard-side-menu img,
        .container .menu-info-container .side-menu .account img,
        .container .menu-info-container .side-menu .card img,
        .container .menu-info-container .side-menu .payment img,
        .container .menu-info-container .side-menu .transfer img,
        .container .menu-info-container .side-menu .airtime img,
        .container .menu-info-container .side-menu .setting img {
          width: 30px;
          height: 30px; }
      .container .menu-info-container .side-menu .card {
        background-color: #F7F0FC;
        opacity: 100%; }

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    margin: 0;
    width: 100%;
    background: #9d9d9d; }
  .container {
    width: 100%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
    .container #dashboard-info {
      width: 100%;
      position: fixed; }
      .container #dashboard-info .header {
        width: 100%;
        height: 100px; }
        .container #dashboard-info .header .dashboard {
          bottom: 95px; }
        .container #dashboard-info .header .menu-icon {
          width: 60px;
          height: 60px;
          padding: 30px 20px 0; }
        .container #dashboard-info .header h1 {
          font-size: 40px; }
    .container .balance .balance-texts .balText {
      font-family: "ProximaNovaSoft-Regular";
      font-size: 36px; }
    .container .balance .balance-texts .balanceAmount {
      font-family: "ProximaNovaSoft-Semibold";
      font-size: 40px; }
    .container .balance .balance-texts .sp {
      font-family: "ProximaNovaSoft-Semibold";
      font-size: 30px; }
    .container .transition-icon {
      text-align: center; }
      .container .transition-icon .dot {
        height: 20px;
        width: 20px;
        margin: 0 4px;
        background-color: #FFFFFF;
        border-radius: 50%;
        display: inline-block; }
      .container .transition-icon .dot2 {
        height: 20px;
        width: 20px;
        margin: 0 4px;
        background-color: #FFFFFF;
        border-radius: 50%;
        display: inline-block; }
    .container .latest-transaction {
      height: 84px;
      position: relative;
      bottom: 3px; }
      .container .latest-transaction h1 {
        font-family: "ProximaNovaSoft-Medium";
        font-size: 28px;
        padding: 30px; }
    .container .details1,
    .container .details2,
    .container .details3,
    .container .details4 {
      height: 125px;
      padding: 3px 0; }
    .container .details2,
    .container .details4 {
      background-color: #F1F1F1; }
    .container .amount-location {
      background-color: #FFFFFF;
      height: 488px; }
      .container .amount-location h1 {
        font-size: 32px; }
      .container .amount-location p {
        font-size: 28px; }
      .container .amount-location .location {
        padding: 0 30px; }
      .container .amount-location .amount {
        padding: 0 30px; }
    .container:hover {
      position: fixed;
      transform: translate(882px, 0);
      -webkit-transform: translate(882px, 0);
      -o-transform: translate(882px, 0);
      -moz-transform: translate(882px, 0); }
    .container .overlay {
      height: 1034px;
      width: 100%;
      position: static; }
    .container .menu-info-container {
      width: 100%;
      position: absolute;
      left: -882px;
      top: 0; }
      .container .menu-info-container .menu-header {
        height: 337px; }
        .container .menu-info-container .menu-header .image-header {
          background-image: url("../Assets/Images/SideMenu/menu-header-bg@3x.png");
          background-repeat: no-repeat;
          height: 335px; }
          .container .menu-info-container .menu-header .image-header img {
            width: 294px; }
          .container .menu-info-container .menu-header .image-header .profile-details {
            height: 250px;
            top: 70px;
            margin: 0 40px; }
            .container .menu-info-container .menu-header .image-header .profile-details img {
              width: 150px;
              height: 150px; }
            .container .menu-info-container .menu-header .image-header .profile-details span {
              font-family: "ProximaNovaSoft-Regular";
              font-size: 40px;
              margin-left: 30px; }
      .container .menu-info-container .side-menu {
        height: fit-content;
        width: 90%; }
        .container .menu-info-container .side-menu .dashboard-side-menu,
        .container .menu-info-container .side-menu .account,
        .container .menu-info-container .side-menu .card,
        .container .menu-info-container .side-menu .payment,
        .container .menu-info-container .side-menu .transfer,
        .container .menu-info-container .side-menu .airtime,
        .container .menu-info-container .side-menu .setting {
          padding: 10px 40px;
          height: 80px; }
          .container .menu-info-container .side-menu .dashboard-side-menu h1,
          .container .menu-info-container .side-menu .account h1,
          .container .menu-info-container .side-menu .card h1,
          .container .menu-info-container .side-menu .payment h1,
          .container .menu-info-container .side-menu .transfer h1,
          .container .menu-info-container .side-menu .airtime h1,
          .container .menu-info-container .side-menu .setting h1 {
            font-family: "ProximaNovaSoft-Regular";
            font-size: 26px;
            margin-left: 30px; }
          .container .menu-info-container .side-menu .dashboard-side-menu img,
          .container .menu-info-container .side-menu .account img,
          .container .menu-info-container .side-menu .card img,
          .container .menu-info-container .side-menu .payment img,
          .container .menu-info-container .side-menu .transfer img,
          .container .menu-info-container .side-menu .airtime img,
          .container .menu-info-container .side-menu .setting img {
            width: 60px;
            height: 60px; } }
